@font-face {
		font-family: roboto-medium;
		src: local(roboto-medium), url('Roboto-Medium.ttf') format('opentype');
}

.marker-cluster, .pic-cluster {
	background-clip: padding-box;
	border-radius: 20px;
	z-index: 1000;
}

.marker-cluster div {
	width: 18px;
	height: 18px;
	margin-left: 10px;
	margin-top: 10px;
	text-align: center;
	border-radius: 18px;
	font-family: roboto-medium;
	font-size: 8pt;
}

.pic-cluster div, .c-cluster div, .p-cluster div, .m-cluster div, .i-cluster div, .w-cluster div {
	width: 18px;
	height: 18px;
	margin-left: -4px;
	margin-top: -4px;
	text-align: center;
	border-radius: 18px;
	font-family: roboto-medium;
	font-size: 8pt;
}

.marker-cluster div {
	background-color: #555;
	border: 1px solid #333;
	color: #fff;
}
.pic-cluster div {
	background-color: #fff;
	border: 1px solid #333;
	color: #555;
}
.c-cluster div {
	background-color: #bb4444;
	border: 1px solid #333;
	color: #fff;
}
.p-cluster div {
	background-color: #2288ee;
	border: 1px solid #333;
	color: #fff;
}
.m-cluster div {
	background-color: #22aa55ff;
	border: 1px solid #333;
	color: #fff;
}
.i-cluster div {
	background-color: #9966dd;
	border: 1px solid #333;
	color: #fff;
}
.w-cluster div {
	background-color: #aa7777;
	border: 1px solid #333;
	color: #fff;
}

.marker-cluster span, .pic-cluster span, .c-cluster span, .p-cluster span, .m-cluster span, .i-cluster span, .w-cluster span {
	line-height: 18px;
}
.pic-cluster span {
	color: #555;
	font-weight: bold;
}