body {
	padding: 0;
	margin: 0;
}
html, body, #bigmap {
	height: 100%;
	width: 100vw;
}

.legend, .josmtext {
	display: none;
}

button {
	border: 1px solid #aaa;
	/*text-shadow:none;*/
	background-color: rgba(255, 255, 255, 0.7);
	color:#784421;
	/*box-shadow: 1px 1px 1px #000;*/
	z-index: 1000;
	font-weight: bold;
	border-radius: 8px 0 0 8px;
	padding: 12px;
	cursor: pointer;
}

.zoomin {
	position: fixed;
	bottom: 26px !important;
	border-radius: 8px 0 0 0;
	background-image: url(plus.png);
	background-repeat: no-repeat;
	background-position: center center;
}
.zoomout {
	position: absolute;
	bottom: 70px !important;
	border-radius: 0 0 0 8px;
	background-image: url(minus.png);
	background-repeat: no-repeat;
	background-position: center center;
}
.locate {
	position: absolute;
	bottom: 130px !important;
	border-radius: 8px 0 0 8px;
	background-image: url(locate.png);
	background-repeat: no-repeat;
	background-position: center center;
}
.loaddata {
	position: absolute;
	bottom: 190px !important;
	border-radius: 8px 0 0 8px;
	background-image: url(refresh.svg);
	background-repeat: no-repeat;
	background-position: center center;
}

#geolocator {
	font-size: 16pt;
	font-family: roboto-medium;
	position: absolute;
	top: 20px;
	right: 0px;
	width: 140px;
}

#loader {
	font-size: 16pt;
	font-family: roboto-medium;
	position: absolute;
	top: 80px;
	right: 0px;
	width: 140px;
}

#counter_display {
	position: absolute;
	z-index: 1000;
	bottom: 0;
	left: 0;
	font-family: roboto-medium;
	font-size: 12pt;
	color: #333;
	background-color: rgba(255,255,255,0.7);
	padding: 0 5px 0 5px;
	max-width: 250px;
	z-index: 10000;
}

.leaflet-control-zoom {
	display:none;
}
.leaflet-control-attribution {
	font-size: 0.8em !important;
}

.leaflet-tooltip {
	visibility: hidden !important;
}

#infoBox {
	position: fixed;
	/*display: block;*/
	top: 0px;
	left: 0px;
	width: 96%;
	/*height: 92%;*/
	transform: translate(2%, 2%);
	font-size: 0.8em;
}

#tipRight {
	display: block;
	position: absolute;
	top: 195px;
	right: 62px;
	line-height: 34px;
	height: 34px;
	padding: 0 10px 0 10px;
	/*content: attr(title);*/
	text-align: center;
	white-space: nowrap;
	background: #777;
	opacity: 0.8 !important;
	color: #fff;
	font-family: roboto-medium;
	font-size: 12pt;
	pointer-events: none;
	border-radius: 5px 0 0 5px;
}