@font-face {
		font-family: roboto-medium;
		src: local(roboto-medium), url('Roboto-Medium.ttf') format('opentype');
}
@font-face {
		font-family: fontin;
		src: local(Fontin Regular), url('Fontin-Regular.otf') format('opentype');
}

* {
	padding:0;
	margin:0;
	font-family: roboto-medium, sans-serif;
}

a {
	cursor: pointer;
}

button {
	border: 1px solid #aaa;
	/*text-shadow:none;*/
	background-color: rgba(255, 255, 255, 0.7);
	color: #80f;
	/*box-shadow: 1px 1px 1px #000;*/
	z-index: 1000;
	font-weight: bold;
	border-radius: 5px 0 0 5px;
	padding: 8px;
	cursor: pointer;
}

#sidebar {
/*	margin: 0 auto;*/
	position: fixed;
	top: 0px;
	right: 0px;
	z-index: 100;
	height: 100%;
	font-family: roboto-medium;
	font-weight: lighter;
	/*font-size: 1em;*/
}
#zoomin {
	position: absolute;
	top: 26px;
	border-radius: 8px 0 0 0;
	background-image: url(icons/plus.png);
	background-repeat: no-repeat;
	background-position: center center;
}
#zoomout {
	position: absolute;
	top: 70px;
	border-radius: 0 0 0 8px;
	background-image: url(icons/minus.png);
	background-repeat: no-repeat;
	background-position: center center;
}
#locater {
	position: absolute;
	top: 130px;
	border-radius: 8px 0 0 8px;
	background-image: url(icons/locate.svg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 16px;
}
#loaddata {
	position: absolute;
	top: 190px;
	border-radius: 8px 0 0 8px;
}
#picsicon{
	padding: 13px;
	margin-top: -5px;
}
#loadicon {
	padding: 13px;
	transform: rotate(360deg);
	transition: transform 1s;
	position: relative;
}
#loadicon:active {
	transform: rotate(0deg);
	transition:	0s;
}
.loadbutton img, .togglebutton img {
	height: 19px;
	width: 19px;
}

#pictures {
	position: absolute;
	bottom: 26px;
	border-radius: 8px 0 0 8px;
}
.nopics {
	content:url(icons/camera-no.svg);
}
.yespics {
	content:url(icons/camera-yes.svg);
}

#counter_display {
	position: relative;
	z-index: 1000;
	bottom: 19px;
	right: 0;
	font-family: roboto-medium;
	font-size: 8pt;
}
.dimtext {
	color: #a5f;
}
.brighttext {
	color: #fff;
}

.hidden {
	display: none;
}

.linkbutton, .loadbutton, .togglebutton	{
	width: 44px;
	height: 44px;
	background-color: #80f;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	opacity: 0.7;
	position: absolute;
	right: 0px;
} .linkbutton img {
	margin-top: 10px;
	width: 16px;
	height: 16px;
} .linkbutton span {
	box-shadow: 0 0 10px #ccc;
}

.active {
	background-color: #80f;
	opacity: 0.9;
}
.linkbutton:hover, .loadbutton:hover {
	background-color: #80f;
	opacity: 1 !important;
}

#topbar {
	z-index: 2;
	position: absolute;
	/*width:100%;*/
	padding: 15px 15px 10px 15px;
	pointer-events: none;
	/*background-color: rgba(255,255,255,0.7);*/
	/*background-color: rgba(255, 255, 255, 0.8);*/
}

#topbar #logo {
	/*height:100%;*/
	/*position: relative;*/
	/*display: inline-block;*/
	/*background-color: rgba(25, 104, 166, 1);*/
	font-size: 36px;
	top: 10px;
}

#topbar #logo img {
	height: 28px;
	vertical-align: middle;
	border-radius: 3px;
}

#title {
	font-family: fontin;
	font-weight: bold;
	color: #80f;
	font-size: 28pt;
	/*position: relative;*/
	vertical-align: middle;
	margin-left: -2px;
}

#bigmap {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #000;
	z-index: 0;
}

.leaflet-control-zoom {
	/*display:none;*/
	background-color: rgba(255,255,255,0.7) !important;
	border-radius: 5px;
}

.leaflet-bar a {
	background: none;
}

.leaflet-popup-content {
	text-align: center;
	color: white;
}

.leaflet-popup-content a {
	color: #c4f;
	text-decoration: none;
}

.leaflet-popup-content-wrapper {
	background-color: #444;
	max-width: 400px;
}

.leaflet-popup-content img {
	max-width: 300px;
	max-height: 250px;
	border-radius: 5px;
	margin-top: 5px;
}

.tiny-pic {
	max-height: 60px !important;
	display: inline-block;
	text-align: right;
	padding: 2px;
}

.edit-icon {
	height: 18px;
}

.leaflet-popup-tip {
	box-shadow: none;
	padding: 0;
	background-color: #444;
}

.leaflet-popup-tip-container {
	height: 12px;
	/*visibility: hidden;*/
	/*box-shadow: none;*/
}

.leaflet-popup-pane {
	z-index: 100000;
}

.title {
	font-weight: bold;
	font-style: italic;
	font-size: 1.2em;
	max-width: 250px;
	display: inline-block;
/*	margin-bottom: 5px;*/
}

.name {
	font-weight: bold;
	font-size: 1.2em;
	max-width: 250px;
	display: inline-block;
/*	margin-bottom: 5px;*/
}

.type {
	font-weight: bold;
	font-size: 1em;
	text-transform: capitalize;
}

hr {
	width: 70%;
	color: #555;
	opacity: 0.6;
	margin: 3px auto 3px auto;
}

.linktext {
	margin-top: 10px;
/*	font-size: 80%;*/
	color: #3c3c3c!important;
	text-shadow: 1px 1px #4e4e4e !important;
}

.linktext a {
	text-decoration: none;
	color: #c4f !important;
}

/*.popup_image {
	/*width: 300px;*/
	/*max-height: 300px;*/
	/*	display: inline-block;*/
	/*text-align: right;*/
	/*padding-top: 5px;*/
/*}*/

.leaflet-interactive {
	cursor: pointer !important;
}

.leaflet-tooltip {
	position: absolute;
	top: -4px;
	z-index: 1000;
	white-space: nowrap;
	background: none;
	color: black;
	font-family: roboto-medium;
	font-size: 0.6em;
}

.tiny {
	font-size: 0.8em;
	position: relative;
	top: -3px;
}

.overlayText {
	color: white;
	font-size: 26px;
	font-weight: bold;
	position: fixed;
	/*opacity: 0.7;*/
	/*left: 50%;*/
	bottom: 40%;
	width: 100%;
	text-align: center;
	/*margin-left: -87px !important;*/
	/*pointer-events: none;*/
	cursor: pointer;
	margin: 0 !important;
	padding: 10px 0 10px 0;
	opacity: 0.7;
	/*box-shadow: 0 0 10px 10px #80f;*/
}
/*.overlayText:hover {	
	background-color: #80f;
	opacity: 1 !important;
}*/
.overlayText:empty {
	display: none;
}

.zoomOverlay {
	background-color: #80f;
}
.zoomOverlay:hover {	
	background-color: #80f;
	opacity: 1 !important;
}
.loadingOverlay {
	background-color: #80f;
}

.leaflet-control-attribution {
	z-index: 1 !important;
}

.josmtext {
	text-decoration: none;
	font-family: sans-serif;
	font-size: 11px;
	color: #444;
/*	position: fixed;*/
/*	bottom: 0;*/
/*	right: 202px;*/
	padding: 0 0 0 5px;
	margin: 0 !important;
/*	background-color: rgba(255,255,255,0.7);*/
}
.josmtext a {
	text-decoration: none;
}

.josmtext:empty {
	display: none;
}

/*.legendicon {
	width: 26px;
	height: 26px;
	vertical-align: middle;
	margin: 2px;
}*/

.legend {
	line-height: 20px;
	font-weight: bold;
	text-align: left;
	color: white;
	bottom: 20px;
	/*background-color: rgba(255, 255, 255, 0.3);*/
	/*box-shadow: 0 0 5px 15px rgba(255, 255, 255, 0.3);*/
	font-size: 12px;
	pointer-events: none;
	/*text-shadow: 1px 0 0 white, 0 -1px 0 white, 0 1px 0 white, -1px 0 0 white;*/
}

/*.legend img {
	width: 26px;
	height: 26px;
	vertical-align: middle;
	margin: 2px;
}*/

/*.info {
	border: 1px solid #aaa;
	padding: 0 5px 0 5px;
	background-color: rgba(255, 255, 255, 0.7);
	border-radius: 5px;
}*/

.leaflet-control-locate {
	visibility: hidden !important;
}
.leaflet-control-locate.active a {
	color: #2074B6;
}
.leaflet-control-locate.active.following a {
	color: #FC8428;
}

.leaflet-control-locate-location circle {
	animation: leaflet-control-locate-throb 4s ease infinite;
}

@keyframes leaflet-control-locate-throb {
	0% {
		r: 9;
		stroke-width: 1;
	}
	50% {
		r: 7;
		stroke-width: 3;
	}
	100% {
		r: 9;
		stroke-width: 1;
	}
}

.pointIcon {
	border: 0;
	width: 20px;
	height: 20px;
	font-size: 20px;
}
.welcomeIcon {
	border: 0;
	width: 8px;
	height: 8px;
	font-size: 15px;
	pointer-events: none;
}
.sourceIcon {
	border: 0;
	pointer-events: none;
}
.colourIcon {
	border: 0;
	pointer-events: none;
	left: -6px;
	top: -5px;
	z-index: 0;
}

#linksbutton {
	width: 44px;
	height: 44px;
	background-color: #80f;
	background-image: url(icons/link.svg);
	background-repeat: no-repeat;
	background-position: 10px 18px;
	background-size: 16px;
	border-radius: 0 44px 0 0;
	display: block;
	vertical-align: middle;
	text-align: center;
	opacity: 0.7;
	position: absolute;
	bottom: 0px;
	left: 0px;
	z-index: 10000;
}
#linksdiv {
	display: none;
	background-color: #80f;
	opacity: 0.9;
	border-radius: 0 22px 0 0;
	padding: 10px;
	position: absolute;
	bottom: 0px;
	left: 0px;
	z-index: 10000;
} #linksdiv a {
	line-height: 24px;
	text-decoration: underline dotted;
	color: white;
	opacity: 0.9;
}
#closebutton {
	float: right;
	margin: -3px 0px 0 0;
	color: #a5f;
	pointer-events: none;
}

.invalid {
	color: #fa0;
	font-variant: small-caps;
	font-weight: bold;
}

.note {
	font-size: 8pt;
}

.code {
	font-variant: normal;
	font-family: monospace;
	font-weight: normal;
	color: white;
	background-color: #222;
	padding: 1px;
	border-radius: 4px;
}

.image {
	position: relative;
	display: inline-block;
}

.badge {
	width: 18px;
	max-height: 18px;
	position: absolute;
	bottom: 8px;
	right: 5px;
}

.logo {
	width: 18px;
	max-height: 18px;
	position: relative;
	top: 4px;
}

.caption {
	position: absolute;
  	width: 100%;
	display: flex;
	justify-content: center;
	bottom: 5px;
	font-size: 8pt;
	font-weight: bold;
	color: white;
	text-shadow: 1px 1px 2px black;
}

.panoramax {
	color: #1e88e5 !important;
	text-decoration: none;
}

.mapillary {
	color: #05cb63 !important;
	text-decoration: none;
}