body {
	padding: 0;
	margin: 0;
}
html, body, #bigmap {
	height: 100%;
	width: 100vw;
}

.leaflet-control-zoom {
	display:none;
}
.leaflet-control-attribution {
	font-size: 0.8em !important;
}

.leaflet-tooltip, .githubtext {
	visibility: hidden !important;
}

#infoBox {
	position: fixed;
	/*display: block;*/
	top: 0px;
	left: 0px;
	width: 96%;
	/*height: 92%;*/
	transform: translate(2%, 2%);
	font-size: 0.8em;
}

#tipRight {
	line-height: 37px;
}#tipLeft {
	line-height: 37px;
}