body {
	background-color: #333;
	color: #eee;
	font-variant-caps: small-caps;
}

a, a:visited {
	color: #eee;
}

h1, h2, h4 {
	text-align: center;
	margin-bottom: 0;
}
h3 {
	text-align: left;
	margin-bottom: 0;
}

a {
}
.container {
	/*display: grid;*/
	/*grid-template-columns: 1fr 2fr;*/
	font-size: 0.8em;
}
aside {
	/*margin: 0 1em;*/
	padding: 0 20px;
	border-right: 1px #444 solid;
	height:100%;
	width: 150px;
	z-index: 1;
	position: fixed;
	top: 0;
	right: 0;
	background-color: #333;
	overflow-x: hidden;
	/*transition: 0.1s;*/
	box-shadow: 1px 0px 5px 1px #222;
	z-index: 2;
}
aside div {
	margin: .25em 0;
	display: inline-block;
}

.menubutton {
	position: fixed;
	top: -15px;
	right: 0;
	font-size: 2.8em;
	cursor: pointer;
	background: none;
	color: white;
	border: none;
	display: block;
	color: #818181;
	padding: 8px 8px 0 20px;
	text-decoration: none;
	z-index: 1;
}

img, svg {

	box-shadow: 1px 3px 5px 1px #222;
	width: 256px;
}

main {/*
	height:75%; 
	width: calc(100% - 155px);*/
	margin-right: 190px;
	text-align: center;
}
@media screen and (max-width: 690px){
	.container {
		/*display: grid;*/
		/*grid-template-columns: 1fr 2fr;*/
		font-size: 1em;
	}
	aside {
		/*display: block;*/
		/*width: 100%;*/
		visibility: hidden;
		/*height:150px;*/
		/*position: fixed;*/
		/*top: 50px;*/
	}
	main {
		height:75%;
		width: 100% !important;
		/*margin-top: 250px;*/
		margin-left: 0px; 
		/*float:left;*/
	}
}
input {
	margin-right: 5px;
}
.flag {
	display: inline-block;
	margin: 0.2em;
	vertical-align: top;
}
.flag h3 {
	max-width: 256px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	margin-top: 0;
}
/*.flag h3:hover {
	text-overflow: none;
	overflow: visible;
	white-space: normal;
}*/
p {
	margin: 0;
	color: #eee;
}

a {
	text-decoration: none;
}
label {
	font-weight: bold;
}
.red {
	color: red;
}
.orange {
	color: orange;
}
.yellow {
	color: yellow;
}
.green {
	color: forestgreen;
}
.turquoise {
	color: turquoise;
}
.blue {
	color: blue;
}
.purple {
	color: mediumpurple;
}
.pink {
	color: #f4f;
}
.brown {
	color: saddlebrown;
}
.black {
	color: black;
}
.gray {
	color: gray;
}

footer {
	position: absolute;
	bottom: 0px;
	font-size: 0.6em;
}

#reset {
	background-color: teal;
	color: white;
	padding: 10px 40px 10px 40px;
	border-radius: 5px;
	border: 0;
	font-variant-caps: small-caps;
}
#reset:active {
	background-color: #006666;
	transform: translateY(1px);
}

#countbox {
	position: fixed;
	top: 10px;
	left: 10px;
	writing-mode: vertical-lr;
/*	-webkit-text-stroke: 2px #333;*/
	text-shadow: -1px -1px 1px #333, 1px -1px 1px #333, -1px 1px 1px #333, 1px 1px 1px #333;
}